<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
   <packageSources>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="leedsgovuk" value="https://pkgs.dev.azure.com/leedsgovuk/_packaging/leedsgovuk/nuget/v3/index.json" />
  </packageSources>
</configuration>